<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="info.clockworksapple.android.barsearch"
	android:versionCode="1"
	android:versionName="0.8">
	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<application
		android:label="@string/app_name"
		android:theme="@style/MyTheme"
		android:debuggable="true"
		android:icon="@drawable/ic_launcher"
		android:allowTaskReparenting="false">
		<uses-library
			android:name="com.google.android.maps" />
		<activity
			android:name=".MainTitleActivity"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:screenOrientation="portrait">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".app.MainMenuActivity"
			android:theme="@android:style/Theme.Black.NoTitleBar"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".app.Preference"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:screenOrientation="portrait" />
		<activity
			android:name=".app.BarMapActivity"
			android:theme="@android:style/Theme.Black.NoTitleBar"
			android:screenOrientation="portrait" />
		<activity
			android:name=".app.TweetListActivity"
			android:label="@string/window_title_tweet_list"
			android:screenOrientation="portrait" />
		<activity
			android:name=".app.TweetPostActivity"
			android:label="@string/window_title_tweet_post"
			android:screenOrientation="portrait" />
		<activity
			android:name=".app.ShowBinCodeActivity"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:screenOrientation="portrait" />
	</application>
	<uses-sdk
		android:minSdkVersion="8" />
</manifest>